.container {
  width: 100%;
  height: 100%;

  .screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: left top;
    width: 1920px;
    height: 1080px;
    background: url(@/assets/images/bg.jpg) no-repeat center center/100% 100%;
    border-radius: 15px;

    // 头部
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 70px;
      line-height: 90px;
      font-size: 49px;
    }

    // 主体
    section {
      display: flex;
      justify-content: space-between;
      height: calc(100% - 100px);
      padding-top: 40px;

      // 标题
      .section-small-title {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 25px;
        color: #fff;
      }

      .both-sides {
        flex: 1;
        display: flex;
        flex-direction: column;

        .sides-item {
          flex: 1;
        }

        .chart {
          width: 100%;
          height: calc(100% - 50px);
        }
      }

      .left {
        animation: both-sides-left 1.5s;

        .section-small-title {
          padding-left: 25px;
        }
      }

      // 从左到右进入动画
      @keyframes both-sides-left {
        from {
          transform: translateX(-100%);
        }

        to {
          transform: translateX(0);
        }
      }

      .right {
        animation: both-sides-right 1.5s;
      }

      // 从右到左进入动画
      @keyframes both-sides-right {
        from {
          transform: translateX(100%);
        }

        to {
          transform: translateX(0);
        }
      }

      // 中间区域
      .center {
        position: relative;
        flex: 2;
        overflow: hidden;
      }
    }
  }
}
